body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: qpx;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

.tick {
  font-family: sans-serif;
  font-size: 14px;
}

svg {
  width: 100%;
}

.label  {
  text-align: center;
  color: #fff;
}